aside {
    background: var(--backgroundAside);
    padding: 0 15pt;
}

aside img {
    width: 100%;
    margin: 45pt auto 45pt;
    display: block;
    border-radius: 50%;
}

aside h2, section article h2 {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15pt;
}

aside ul {
    color: var(--text);
    margin-bottom: 22pt;
    padding-bottom: 22pt;
    border-bottom: 1px solid var(--borderLight);
    line-height: 1.4;
}