// Encadré d'information secondaires (partie gauche)

aside {
    // Colore l'arrière-plan
    background: var(--backgroundAside);
    // Décale le texte sans centrer
    padding: 0 15pt;

    // Agrandit le container,le fait chevaucher les bandes header et footer et le place en arrière plan pour l'effet vitrifié
    height: 720pt;
    position: relative;
    top: -10pt;
    z-index: 0;
}

// Image de profil
aside img {
    width: 100%;
    margin: 45pt auto 45pt;
    display: block;
    border-radius: 50%;
}

// Titres des éléments
aside h2 {
    // Agrandit, graisse et met en majuscule
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    // Espace le titre du contenu
    margin-bottom: 15pt;
}

// Listes d'éléments
aside ul {
    // Colore le texte
    color: var(--text);
    // Espace les blocs et insère la place pour la bordure au milieu
    margin-bottom: 22pt;
    padding-bottom: 22pt;
    // Place la bordure de séparation
    border-bottom: 1px solid var(--borderAside);
    // Espace les lignes
    line-height: 1.4;
}