footer {
    background: var(--banner);
    display: grid;
    grid-template-columns: 2fr 5fr;
}

footer h2 {
    background: var(--backgroundFooter);
    height: 40pt;
    text-align: center;
    padding-top: 18px;
}

footer ul {
    display: flex;
}

footer ul li img {
    height: 12pt;
    position: relative;
    top: 2pt;
}

footer ul li {
    display: block;
    text-align: center;
    padding-left: 30pt;
    padding-top: 12pt;
}

footer ul li a {
    color: var(--bannerText);
    text-decoration: none;
    font-size: 12px;
}

footer ul li a:hover {
    text-decoration: underline;
}