header {
    background: var(--banner);
    height: 100pt;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

header h1 {
    color: var(--bannerTitle);
    background: var(--name);
    height: 100pt;
    padding-top: 25pt;
    text-align: center;
    line-height: 1.25;
    font-size: 20pt;
    text-transform: uppercase;
    &>span {
        display: block;
    }
    &>#nom {
        font-weight: bold;
    }
}

header ul {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    padding-right : 20pt;
    height: 65pt;
}

header ul li {
    height: 150px;
    padding: 20pt 0 0 15%;
    font-size: 10pt;
    color: var(--bannerText);
    line-height: 1.5;
}

header ul li strong {
    display: block;
    text-transform: uppercase;
    color: var(--bannerTitle);
    font-size: 10pt;
}

.main-title {
    color: var(--title);
    font-size: 25pt;
    padding-left: 30pt;
    text-transform: uppercase;
    text-shadow: 1pt 1pt 2pt rgb(255, 255, 255);
}