.main-content {
    padding-top: 30pt;
}

.main-content section {
    border-top: 1px solid var(--borderLight);
    margin-bottom: 30pt;
}

.main-content section h2 {
    width: auto;
    background: var(--background);
    border-right: 1px solid var(--borderLight);
    position: relative;
    top: -7pt;
    display: inline-block;
    padding-right: 7pt;
    font-weight: bold;
    font-size: 13pt;
}

.main-content section p {
    color: var(--text);
    line-height: 1.2;
}

.main-content section li.exp {
    display: grid;
    grid-template-columns: 70pt auto;
    margin-bottom: 15pt;
}

.main-content section li span.periode {
    border-right: 1px solid var(--borderDark);;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content section li.exp span.desc {
    padding-left: 15pt;
    line-height: 1.4;
    color: var(--text);
}

.main-content section li.exp span.desc strong {
    font-weight: bold;   
}