@use 'sass:color';

$backgroundBanner : #0345a8;
$backgroundBannerGlassed: rgba(color.adjust($backgroundBanner, $lightness: 10%), 0.7);
$backgroundAside: rgba(color.adjust($backgroundBanner, $lightness : 50%), 0.5);
$mainTitleShadow: rgba(color.adjust($backgroundBanner, $lightness: 80%), 0.5);


$bannerText : #ffffff;
@if (lightness($backgroundAside) >95%) {
    $bannerText : #000000;
}

$borderAside : #ffffff;

// Choix des couleurs de la page
:root {
    --backpage: #cacaca;
    --backpageShadow: #8a8a8a;
    --borderDark: #aaa;
    --borderLight: #cecece;
    --borderAside: #{$borderAside};

    --background: #fff;
    --backgroundBanner: #{$backgroundBanner};
    --backgroundBannerGlassed: #{$backgroundBannerGlassed};
    --backgroundAside: #{$backgroundAside};
    
    --text: #111111;
    --bannerText: #{$bannerText};
    --bannerTextShadow: #{$mainTitleShadow};
}