// Choix des couleurs de la page
:root {
    --backpage: #cacaca;
    --backpageShadow: #8a8a8a;
    --borderDark: #aaa;
    --background: #fff;
    --backgroundBanner: #111;
    --backgroundName: #068ec6;
    --backgroundAside: #e5eaeb;
    --backgroundFooter: #444;
    --text: #555;
    --bannerText: #aaa;
    --bannerTitle: #eee;
    --mainTitle: #ff0000;
    --borderLight: #cecece;
    --mainTitleShadow: white;
}