.CV {
    .CV_footer {
        // Colore le texte
        color: var(--CV_bannerText);
        // Colore l'arrière plan
        background: var(--CV_backgroundBanner);
        // Sépare l'espace pour les parties gauches et droites de la feuille en ratio 2 pour 5
        display: grid;
        grid-template-columns: 2fr 5fr;
        // Force une taille d'affichage
        height: 40pt;

        // Partie gauche
        h2 {
            // Coloration de l'arrière-plan
            background: var(--CV_backgroundBannerGlassed);
            // Centrage du texte
            text-align: center;
            padding-top: 18px;
        }

        ul {
            // Affichage des blocs de liens en ligne flexible
            display: flex;
        }

        // Image des liens
        img {
            // Applique une taille
            height: 12pt;
            // Centre les images
            position: relative;
            top: 2pt;
        }

        // Blocs des liens
        li {
            // Espace les liens entre eux
            padding-left: 30pt;
            // Centre les liens en hauteur
            padding-top: 12pt;
        }

        // Liens
        a {
            // Enlève le surlignage des liens
            text-decoration: none;
            // Réduit la taille du texte
            font-size: 85%;

            // Surligne
            &:hover {
                text-decoration: underline;
            }
        }
    }
}