// Contenu principal de la feuille (partie droite)
.CV {
    // Sections contenant les éléments
    section {
        // Place la bordure haute
        border-top: 1px solid var(--CV_borderLight);
        // /Espace les blocs
        margin-top: 28pt;
    
        // Titre des sections
        h2 {
            // Graisse et agrandit le texte
            font-weight: bold;
            font-size: 120%;
            // Réduit le bloc du titre pour laisser la place à la bordure de section
            display: inline-block;
            // Déplace le titre pour l'aligner avec la bordure de section
            position: relative;
            top: -7pt;
            // Efface la bordure haute sous le titre
            background: var(--CV_background);
            // Place la bordure droite
            border-right: 1px solid var(--CV_borderLight);
            // Espace le titre de sa bordure droite
            padding-right: 7pt;
            margin-bottom: 5pt;
        }
    
    
        // Texte de la section présentation
        p {
            // Colore le texte
            color: var(--CV_text);
            // Espace les lignes
            line-height: 1.3;
        }

        // Element de liste des sections
        li {
            // Définit une place pour la partie date et pour le reste
            display: grid;
            grid-template-columns: 70pt auto;
            // Espace les éléments
            margin-bottom: 15pt;
        
            // Partie date
            .periode{
                // Applique la bordure droite
                border-right: 1px solid var(--CV_borderDark);;
                // Graissage
                font-weight: bold;
                // Centrage
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        
            // Partie contenu
            .desc {
                // Espace des dates
                padding-left: 15pt;
                // Espace les lignes
                line-height: 1.4;
                // Coloration
                color: var(--CV_text);
        
                // Graissage du titre des expériences
                strong {
                    font-weight: bold;   
                }
            }
        }
    }
}
