.CV {
    // Force la taille d'un format A4 pour la feuille
    height: 842pt !important;
    // height: 972pt !important;
    width: 595pt !important;

    // Mise en relief de la feuille
    border: 1px solid var(--CV_borderDark);
    background: var(--CV_background);
    border-radius: 5px;
    box-shadow: 0px 5px 50px var(--CV_backpageShadow);

    // Centrage de la feuille
    margin: 5vh auto;

    // Marges côté droit
    .position-left {
        margin: 0 10pt 0 20pt;
        // Applique un effet vitre
        border-left: 1px solid rgba(255,255,255,0.2);
        border-right: 1px solid rgba(255,255,255,0.1);
        box-shadow: 0 10pt 20pt rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15pt);
    }

    // Marges côté gauche
    .position-right {
        margin: 0 20pt 0 10pt;
    }

    // Permet d'enlever la bordure d'un élément (ici centres d'intérêt)
    .noBorder {
        border: none !important;
    }

    // Sépare l'espace pour les parties gauches et droites de la feuille en ratio 2 pour 5
    .CV_main {
        display: grid;
        grid-template-columns: 2fr 5fr;
        height: 702pt;
    }
}

// Mise en forme générale (fond de page, type et taille de police)
html {
    background: var(--CV_backpage);
    font-family: Arial;
    font-size: 11pt;
}

// Paramétrage pour impression
* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

@media print {
    @page {
      margin-top: 0;
      margin-bottom: 0;
    }
 }